application/libraries/xmlsoap/GETSUBSBYIP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="telkomWSDL_service_Speedy" targetNamespace="http://www.webmethods.com/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:tns="http://www.webmethods.com/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/telkomWSDL/service/Speedy/GETSUBSBYIP" xmlns:tns="http://localhost/telkomWSDL/service/Speedy/GETSUBSBYIP">
          <xsd:complexType name="__GETSUBSBYIPInput">
            <xsd:sequence>
              <xsd:element name="IPAddress" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__GETSUBSBYIPOutput">
            <xsd:sequence>
              <xsd:element name="NASIPAddress" nillable="true" type="xsd:string"/>
              <xsd:element name="AcctStartTime" nillable="true" type="xsd:string"/>
              <xsd:element name="AcctStatusType" nillable="true" type="xsd:string"/>
              <xsd:element name="AcctStopTime" nillable="true" type="xsd:string"/>
              <xsd:element name="AcctUniqueID" nillable="true" type="xsd:string"/>
              <xsd:element name="CalledStationID" nillable="true" type="xsd:string"/>
              <xsd:element name="FramedIPAddress" nillable="true" type="xsd:string"/>
              <xsd:element name="RightPass" nillable="true" type="xsd:string"/>
              <xsd:element name="Status" nillable="true" type="xsd:string"/>
              <xsd:element name="Username" nillable="true" type="xsd:string"/>
              <xsd:element name="StatusCode" nillable="true" type="xsd:string"/>
              <xsd:element name="StatusMess" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="GETSUBSBYIPInput">
		<wsdl:part name="IPAddress" type="xsd:string"/>
	</wsdl:message>
	
	<wsdl:message name="GETSUBSBYIPOutput">
		<wsdl:part name="NASIPAddress" type="xsd:string"/>
		<wsdl:part name="AcctStartTime" type="xsd:string"/>
		<wsdl:part name="AcctStatusType" type="xsd:string"/>
		<wsdl:part name="AcctStopTime" type="xsd:string"/>
		<wsdl:part name="AcctUniqueID" type="xsd:string"/>
		<wsdl:part name="CalledStationID" type="xsd:string"/>
		<wsdl:part name="FramedIPAddress" type="xsd:string"/>
		<wsdl:part name="RightPass" type="xsd:string"/>
		<wsdl:part name="Status" type="xsd:string"/>
		<wsdl:part name="Username" type="xsd:string"/>
		<wsdl:part name="StatusCode" type="xsd:string"/>
		<wsdl:part name="StatusMess" type="xsd:string"/>
	</wsdl:message>
	<wsdl:portType name="telkomWSDL_service_SpeedyPortType">
		<wsdl:operation name="GETSUBSBYIP">
			<wsdl:input message="tns:GETSUBSBYIPInput"/>
			<wsdl:output message="tns:GETSUBSBYIPOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="telkomWSDL_service_SpeedyBinding" type="tns:telkomWSDL_service_SpeedyPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GETSUBSBYIP">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.webmethods.com/telkomWSDL.service.Speedy" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.webmethods.com/telkomWSDL.service.Speedy" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="telkomWSDL_service_SpeedyService">
		<wsdl:port name="telkomWSDL_service_SpeedyPort0" binding="tns:telkomWSDL_service_SpeedyBinding">
			<soap:address location="http://10.34.12.4:5600/soap/rpc"/>
		</wsdl:port>
	</wsdl:service>
	</wsdl:definitions>
